[Desktop Entry]
Name=PosFlow
Comment=Point of Sale System
Exec=/bin/bash -c "cd ~/mYprojecTs/posflow && source venv/bin/activate && python main.py"
Icon=/home/iann/mYprojecTs/posflow/assets/icon.png
Terminal=false
Type=Application
Categories=Office;Finance;
StartupNotify=true
